body{
  font-family: "Montserra";
  text-align: center;
}



h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat-Bold";

}

/* Image-Coursel */
/* .img-fluid {
    max-width: 100%;
    height:auto;
} */
/* Heading */

.big-heading {
  font-family: "Montserrat-Bold";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}


.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Container Section */


.container-fluid{
padding: 1% 2%;
}




p{
  color: #8f8f8f;
}

/* Navigation Bar */

 .navbar{
   padding-bottom: 4.5rem;
 }

 .nav-link{
   font-size: 1.2rem;
   font-family: "Montserra";
   font-weight: lighter;
 }

.nav-item{
  padding: 0 18px;
}


#navigation .navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
  border-radius: 100%;
  height: 100px;
  width: 100px;
	/* height: 28px;
	width: auto; */
	display: block;
  /* filter: brightness(20%); */
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #fff !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #8167a9 !important;
}
.nav-item.active .nav-link{
	color: #777 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}


/* Downloads Button */

.download-button{
  margin: 5% 3% 5% 0;
}

.carousel-inner {
  /* position: relative;
  overflow: hidden; */
  height: 42rem;
  position: relative;
  background-position: center;
  background-size: cover;
}

#title .container-fluid {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 960px;
  padding-bottom: 50px;
  background-size: cover;
}


#image {
  padding-top: 15%;
  width: 150%;
  height: 600px;
  object-fit: contain
  background-size: contain;
}


/* Feature Section */


#features{
  background-color: #fff
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box{
  padding: 5%;
}


.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4C68;
}

/* Pricing Section */


#pricing {
  padding: 100px;
}


.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}




/* Footer Section */
.fa-whatsapp{
  color: #075E54;
}

.fa-envelope {
  color: #0088cc;
}

.fa-instagram {
  color: #f09433;
}


#footer {
  background-color: #183661;
}

.foot{
  color: #d0cccc;
  margin-left: 0%;
}

.address{
  color: #d0cccc;
  margin-left: 0;
}

.social-icon{
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}



#laundry {
  padding-top: 5%;
}

#market {
  padding-top: 5%;
}

#milk {
  padding-top: 5%;
}

@charset "ISO-8859-1";

.snip1559 {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  /* min-width: 250px;
  max-width: 310px; */
  width: 80%;
  background-color: #d8e3e7;
  color: #2B2B2B;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
margin-left: 150px;
border-radius: 50px;
margin-top: 40px;
margin-bottom: 30px;
transition: transform .2s;

}
.snip1559:hover{
    transform: scale(1.025);
}

.snip1559 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1559 figcaption {
  padding: 5% 10% 5%;
  text-align: left;
}

h2{
  text-align: center;
}
